.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    color: #e4181e;
}
.services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 20px;
    max-width: 300px;
}
.services-readmore{
    display: flex;
    gap:20px;
    align-items: center;
    margin-top: 10px;
}
.services-readmore p{
    font-size: 20px;
}
.services-format:hover{
    border: 2px solid #e4181e;
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:480px){
    .services{
        align-items: start;
        gap:70px;
        margin: 20px 70px;
    }
    .services h1{
        padding:0;
        font-size:45px;
    }
    .services-format{
        gap:20px;
        padding: 10px 0px 20px 20px;
    }
    .services-format h2{
        font-size: 35px;
    }
    .services-format p{
        font-size: 16px;
        line-height: 32px;
        max-width: 300px;   
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        
    }
}